@media (min-width:540){
    #cart {
        <!DOCTYPE html>
        <html lang="ru">
        <head>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Столовая АГУ - Полное Меню</title>
            <link rel="stylesheet" href="styles.css">
            <!-- Встроенные стили -->
            <style> header { text-align: right; } .logo-container { margin-right: auto; } .logo { width: 100px; /* Если необходимо задать размер логотипа */ } </style>
        </head>
        <body>
            <header>
                <div class="logo-container">
                    <img src="C:\Users\bvadi\OneDrive\Рабочий стол\Столовая АГУ qr скролл\logo.png" alt="Логотип столовой АГУ" class="logo">
                </div>
                <h1>Добро пожаловать в столовую АГУ</h1>
            </header>
            
            <!-- Раздел "Первые блюда" -->
            <section id="Первые_блюда" class="menu-section">
                <h2 class="section-title">Первые блюда</h2>
                <div class="menu-grid">
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/data/pervye_blyuda/5.jpg" alt="Борщ" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Борщ</h3>
                            <p class="menu-card-price">120 руб.</p>
                            <button class="add-to-cart-btn" data-name="Борщ" data-price="120">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/07b34253c0ea6776b6e348a28ad13685e5d5d057/1_230_auto_jpg.jpg" alt="Суп куриный" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Суп куриный</h3>
                            <p class="menu-card-price">100 руб.</p>
                            <button class="add-to-cart-btn" data-name="Суп куриный" data-price="100">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/07b34253c0ea6776b6e348a28ad13685e5d5d057/3_230_auto_jpg.jpg" alt="Рассольник" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Рассольник</h3>
                            <p class="menu-card-price">120 руб.</p>
                            <button class="add-to-cart-btn" data-name="Рассольник" data-price="120">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Раздел "Вторые блюда" -->
            <section id="Вторые_блюда" class="menu-section">
                <h2 class="section-title">Вторые блюда</h2>
                <div class="menu-grid">
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/092540840498bedf5e58bea683ab74306c8bc254/0004_230_auto_jpg.jpg" alt="Котлета по-киевски" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Котлета по-киевски</h3>
                            <p class="menu-card-price">200 руб.</p>
                            <button class="add-to-cart-btn" data-name="Котлета по-киевски" data-price="200">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/4983e2f16fe69e70c7f7b071c6acd56e2dd301c5/0026_230_auto_jpg.jpg" alt="Рыба жареная" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Рыба жареная</h3>
                            <p class="menu-card-price">220 руб.</p>
                            <button class="add-to-cart-btn" data-name="Рыба жареная" data-price="220">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/092540840498bedf5e58bea683ab74306c8bc254/0006_230_auto_jpg.jpg" alt="Тефтели" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Тефтели</h3>
                            <p class="menu-card-price">120 руб.</p>
                            <button class="add-to-cart-btn" data-name="Тефтели" data-price="120">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=76df6e1e5606c170956721f965e7b2f8001a1975a48e79fd-11931769-images-thumbs&n=13" alt="Голубцы ленивые" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Голубцы ленивые</h3>
                            <p class="menu-card-price">120 руб.</p>
                            <button class="add-to-cart-btn" data-name="Голубцы ленивые" data-price="120">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/092540840498bedf5e58bea683ab74306c8bc254/0010_230_auto_jpg.jpg" alt="Бифштекс с яйцом" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Бифштекс с яйцом</h3>
                            <p class="menu-card-price">130 руб.</p>
                            <button class="add-to-cart-btn" data-name="Бифштекс с яйцом" data-price="130">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/092540840498bedf5e58bea683ab74306c8bc254/0012_230_auto_jpg.jpg" alt="Мясо по-французски" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Мясо по-французски</h3>
                            <p class="menu-card-price">100 руб.</p>
                            <button class="add-to-cart-btn" data-name="Мясо по-французски" data-price="100">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=db5f3c5386a8e4ca683485103271a57a9fabc166-5500087-images-thumbs&n=13" alt="Оладьи печоночные" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Оладьи печоночные</h3>
                            <p class="menu-card-price">100 руб.</p>
                            <button class="add-to-cart-btn" data-name="Оладьи печоночные" data-price="100">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/092540840498bedf5e58bea683ab74306c8bc254/0008_230_auto_jpg.jpg" alt="Жареное куриное бедро" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Жареное куриное бедро</h3>
                            <p class="menu-card-price">120 руб.</p>
                            <button class="add-to-cart-btn" data-name="Жареное куриное бедро" data-price="120">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=07822fe8f6fed910ab258e3825d195dd4c012483-5220232-images-thumbs&n=13" alt="Гуляш из говядины" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Гуляш из говядины</h3>
                            <p class="menu-card-price">100 руб.</p>
                            <button class="add-to-cart-btn" data-name="Гуляш из говядины" data-price="100">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Раздел "Напитки" -->
            <section id="Напитки" class="menu-section">
                <h2 class="section-title">Напитки</h2>
                <div class="menu-grid">
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/a1865909df83c71d233a7b89f18f47eaaa0df60e/0054_230_auto_jpg.jpg" alt="Компот" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Компот</h3>
                            <p class="menu-card-price">20 руб.</p>
                            <button class="add-to-cart-btn" data-name="Компот" data-price="20">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/a1865909df83c71d233a7b89f18f47eaaa0df60e/bezymyannyj-1_230_auto_jpg.jpg" alt="Чай" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Чай</h3>
                            <p class="menu-card-price">30 руб.</p>
                            <button class="add-to-cart-btn" data-name="Чай" data-price="30">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/a1865909df83c71d233a7b89f18f47eaaa0df60e/0043_230_auto_jpg.jpg" alt="Кофе" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Кофе</h3>
                            <p class="menu-card-price">30 руб.</p>
                            <button class="add-to-cart-btn" data-name="Кофе" data-price="30">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Раздел "Салаты" -->
            <section id="Салаты" class="menu-section">
                <h2 class="section-title">Салаты</h2>
                <div class="menu-grid">
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/22c8333e6e8035c2801dd3d4b508aad978b28ff0/18_230_auto_jpg.jpg" alt="Оливье" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Оливье</h3>
                            <p class="menu-card-price">60 руб.</p>
                            <button class="add-to-cart-btn" data-name="Оливье" data-price="60">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/22c8333e6e8035c2801dd3d4b508aad978b28ff0/05_230_auto_jpg.jpg" alt="Винегрет" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Винегрет</h3>
                            <p class="menu-card-price">60 руб.</p>
                            <button class="add-to-cart-btn" data-name="Винегрет" data-price="60">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/22c8333e6e8035c2801dd3d4b508aad978b28ff0/17_230_auto_jpg.jpg" alt="Крабовый салат" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Крабовый салат</h3>
                            <p class="menu-card-price">60 руб.</p>
                            <button class="add-to-cart-btn" data-name="Крабовый салат" data-price="60">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/22c8333e6e8035c2801dd3d4b508aad978b28ff0/20_230_auto_jpg.jpg" alt="Цезарь" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Цезарь</h3>
                            <p class="menu-card-price">120 руб.</p>
                            <button class="add-to-cart-btn" data-name="Цезарь" data-price="120">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Раздел "Гарниры" -->
            <section id="Гарниры" class="menu-section">
                <h2 class="section-title">Гарниры</h2>
                <div class="menu-grid">
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/0193e14117eff1d610443c3262055c2638159a14/9945_230_auto_jpg.jpg" alt="Гречка" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Гречка</h3>
                            <p class="menu-card-price">30 руб.</p>
                            <button class="add-to-cart-btn" data-name="Гречка" data-price="30">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=6a6befffd59587e3bb0fca441bc18cd36b0361df-5099198-images-thumbs&n=13" alt="Кукурузная каша" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Кукурузная каша</h3>
                            <p class="menu-card-price">30 руб.</p>
                            <button class="add-to-cart-btn" data-name="Кукурузная каша" data-price="30">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/0193e14117eff1d610443c3262055c2638159a14/9943_230_auto_jpg.jpg" alt="Макороны" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Макороны</h3>
                            <p class="menu-card-price">30 руб.</p>
                            <button class="add-to-cart-btn" data-name="Макороны" data-price="30">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Раздел "Закуски" -->
            <section id="Закуски" class="menu-section">
                <h2 class="section-title">Закуски</h2>
                <div class="menu-grid">
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=f1e80c39d95c5630791713b96d23084adfd35b2d-9222419-images-thumbs&n=13" alt="Пицца" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Пицца</h3>
                            <p class="menu-card-price">60 руб.</p>
                            <button class="add-to-cart-btn" data-name="Пицца" data-price="60">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/17c7fc59d1ca8a3d3a6cebd34bc9613f66ff9182/6_230_auto_jpg.jpg" alt="Сосиска в тесте" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Сосиска в тесте</h3>
                            <p class="menu-card-price">60 руб.</p>
                            <button class="add-to-cart-btn" data-name="Сосиска в тесте" data-price="60">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=6f4e180387d72a0dfd6d6b171838e19c92a47fab-5888638-images-thumbs&n=13" alt="Булочка с вишней" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Булочка с вишней</h3>
                            <p class="menu-card-price">60 руб.</p>
                            <button class="add-to-cart-btn" data-name="Булочка с вишней" data-price="60">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=eba4510abc325173a2d339efc5ba200a1b4cb817-10284885-images-thumbs&n=13" alt="Булочка с кунжутом" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Булочка с кунжутом</h3>
                            <p class="menu-card-price">30 руб.</p>
                            <button class="add-to-cart-btn" data-name="Булочка с кунжутом" data-price="30">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="https://avatars.mds.yandex.net/i?id=cdc5d05579e1a83eb1103c7cfbe814dabee606f9-4688474-images-thumbs&n=13" alt="Шалям" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Шалям</h3>
                            <p class="menu-card-price">30 руб.</p>
                            <button class="add-to-cart-btn" data-name="Шалям" data-price="30">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="menu-card">
                        <img src="http://stolovaya.org.ru/images/cms/thumbs/27c951296a7a4e817543eb26d012ecc73144a82f/0019_230_auto_jpg.jpg" alt="Сырник со сметаной" class="menu-card-img">
                        <div>
                            <h3 class="menu-card-title">Сырник со сметаной</h3>
                            <p class="menu-card-price">100 руб.</p>
                            <button class="add-to-cart-btn" data-name="Сырник со сметаной" data-price="100">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Корзина -->
            <div id="cart" class="cart">
                <style> .cart-image { width: 50px;  height: auto;  } </style>
                <img src="https://avatars.mds.yandex.net/i?id=29ecd43479f7d5e36a54ce9615d4b305d3943050-9104160-images-thumbs&n=13" alt="Изображение" class="cart-image">
                <h2>Корзина</h2>
                <ul id="cart-items"></ul>
                <p id="cart-total">Итого: 0 руб.</p>
                <button class="clear-cart-btn" onclick="clearCart()">Очистить корзину</button>
            </div>
        
            <button id="scroll-top-btn" onclick="scrollToTop()"><i class="fas fa-arrow-up"></i></button>
        
            
            <script src="script.js"></script>
            <script src="cart.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        </body>
        </html>
        
    }
}

